requests
beautifulsoup4
lxml
pandas
numpy
scikit-learn
tqdm
ortools
python-dateutil
pytz
python-dateutil
Authlib
datetime
selenium
undetected-chromedriver
polars
nflreadpy
tqdm
PyGithub
pyarrow
tabulate
scipy
matplotlib
seaborn
fastapi
uvicorn
python-multipart
